<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>result</th>
        <th>time</th>
    </tr>
    <th:block th:each="dot : ${dots}">
        <tr>
            <td th:text="${dot.getId()}"></td>
            <td th:text="${dot.getX()}"></td>
            <td th:text="${dot.getY()}"></td>
            <td th:text="${dot.getR()}"></td>
            <td th:text="${dot.getTime()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>